@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_LayoutPage_TrangChu.cshtml";
}
@using WebSite_QL_VeXe.Models;
@model ChuyenXe
<link href="~/Bootstrap/css/nopcv_hieuung.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-6">
            <span> <img src="~/Image/benxe.jpg" style="height:auto;width:100%"></span>
        </div>
        <div class="col-6" style="font-family: Tahoma; font-size: 19px ">
            <b style="color:red">Chuyến xe: </b><span>@Model.TuyenXe.TenTuyen</span><br /><br />
            <b style="color:red">Giờ xuất phát: </b><span>@Model.GioXuatPhat</span><br /><br />
            <b style="color:red">Tài xế: </b><span>@Model.Xe.Nhanvien.TenNV</span><br /><br />
            <b style="color:red">Biển số xe: </b><span>@Model.TTXe</span><br /><br />
            <div class="row">
                <div class="col-2">
                    <b style="color:red">Vị trí: </b>
                </div>
                <div class="col-4">
                    <select class="form-control" id="gender" name="vitri">
                        <option value="A1">Ghế A1</option>
                        <option value="A2">Ghế A2</option>
                        <option value="A3">Ghế A3</option>
                        <option value="A4">Ghế A4</option>
                        <option value="A5">Ghế A5</option>
                        <option value="A6">Ghế A6</option>
                        <option value="A7">Ghế A7</option>
                        <option value="A8">Ghế A8</option>
                        <option value="A9">Ghế A9</option>

                        <option value="B1">Ghế B1</option>
                        <option value="B2">Ghế B2</option>
                        <option value="B3">Ghế B3</option>
                        <option value="B4">Ghế B4</option>
                        <option value="B5">Ghế B5</option>
                        <option value="B6">Ghế B6</option>
                        <option value="B7">Ghế B7</option>
                        <option value="B8">Ghế B8</option>
                        <option value="B9">Ghế B9</option>

                        <option value="C1">Ghế C1</option>
                        <option value="C2">Ghế C2</option>
                        <option value="C3">Ghế C3</option>
                        <option value="C4">Ghế C4</option>
                        <option value="C5">Ghế C5</option>
                        <option value="C6">Ghế C6</option>
                        <option value="C7">Ghế C7</option>
                        <option value="C8">Ghế C8</option>
                        <option value="C9">Ghế C9</option>
                    </select>
                </div>
            </div><br />
            <div class="row">
                <div class="col-2">
                    <b style="color:red">Ngày đi: </b>
                </div>
                <div class="col-4">
                    <input type="date" id="start" name="NgayDi" />
                </div>
            </div><br />
            <h3><b style="color:red">Giá vé: </b><span>@Model.TuyenXe.GiaVe.000đ</span></h3>
        </div>
    </div>
    <div class="row" style="padding-bottom:30px">
        <a href="/Home/DangNhapKH"><button class="btncv" style="height:70px;width:400px; color:black; "><b>Đăng Nhập Để Đặt Vé</b></button></a><br /><br />
    </div>
</div>


